.input-block p {
    font-size: 10px;
    height: 14px;
}
.input-block input {
    border-radius: 12px;
    border: 1px solid #d1d1d1;
    padding: 10px 8px;
    outline: none;
    width: 100%;
    margin-top: 3px;
}
